// ==========================================================================
//  Global variables
// ==========================================================================

// Font-stack shortcuts
$f-georgia: Georgia, serif;
$f-arial: arial, sans-serif;

// Colours
$c-text--light: #ffffff;


$c-grey--light: #f0f0ef;
$c-grey--light: #ebeae9;
$c-grey--light: #eae9e8;
$c-grey--dark: #a9aaab;
$c-grey--light: #777777;
$c-grey--light: #6c6f70;
$c-grey--light: #444444; //#333333

$c-orange: #f7b100;
$c-orange--light: #ffc026;
$c-orange--dark: #f1b625;


// Configuration de la grille et des layouts
$cols: 12 !default;
$container: 980px !default;
