// ==========================================================================
//  Layouts
// ==========================================================================

.l-container,
.l-row,
.l-col {
    @include teq-boxsizing;
}
.l-row {
    @include teq-clearfix;
}
.l-container {
    max-width: $container;
    margin: 0 auto;
}
.l-col {
    display: block;
    float: left;
    width: 100%;
}

// ==========================================================================
//  Common
// ==========================================================================

// ==========================================================================
//  Modules
// ==========================================================================

// ==========================================================================
//  Templates
// ==========================================================================